/* CSS HEX */
:root{
    
    --text: "Lato", sans-serif;
    --header: "Roboto", sans-serif;
    --night: #000f08ff;
    --gunmetal: #1c3738ff;
    --davys-gray: #4d4847ff;
    --mint-cream: #f4fff8ff;
    --cadet-gray: #8baaadff;
}

h1, h2, h3, h4, h5, h6{
    color: var(--gunmetal);
    font-family: var(--header);
}
p{
    color: var(--davys-gray);
    font-family: var(--text);
    font-weight: 300;
}
a{
        text-decoration: none;
        color: var(--gunmetal);
        font-family: var(--header);
        font-weight: bold;
}
button{
        color: var(--mint-cream);
        background-color: var(--gunmetal);
        border-radius: 10px;
        padding: 12px;
        font-weight: bold;
}
/* Header  */

/* Navigation Bar */
header nav{
    border: 3px solid var(--gunmetal);
    border-radius: 40px;
    padding: 0;
    width: 90%;
    margin: 0  auto;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding:0;
    margin: 0;

}

header nav ul li img{
    width: 70px;
}



/* body */
section img{
    width: 280px;
    height: 83%;
}
#home_message h1{
    font-size: 2.5rem;
}
#home_message{
    display: flex;
    /* flex-wrap: wrap; */
    width: 80%;
    margin: 0 auto;
}

#home_message section{
    padding: 10px;
}

#home_message .image{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

/* newsletter */
#newsletter{
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 30px;
    margin: 0 15% 0 auto ;
    align-items: center;
    text-align: center;
    border: 1px solid var(--davys-gray);
    border-radius: 20px;
}
.newletterItem{
    margin: 5px 0;
}
#newsletter button{
    width: 95%;

}
#newsletter input{
    height: 30px;
    width: 90%;
}
#newletter h2{
    padding: 0;
    margin: o;
}
#newsletter img{
    width: 80px;
    padding: 0;
    margin: 0;
}

/* Call to action */
#act{
    width: 60%;
    margin: 20px 0 30px 80px;
    padding: 15px;
    background-color: var(--cadet-gray);
    border-radius: 50px;
}

#act section{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#act img{
    width: 500px;
    height: 200px;
}

footer nav {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    border-top: 3px solid var(--gunmetal);
    border-left: 3px solid var(--gunmetal);
    border-right: 3px solid var(--gunmetal);
    border-radius: 40px 40px 0 0;
}

footer nav :first-child{
    align-content: flex-end
}

footer nav ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}

footer nav ul li{
    margin: 25px 0;
}




/* Contact Us Page */
#Contact{
    display: flex;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;
    border: 3px solid var(--gunmetal);
    border-radius: 40px;
}
#Contact section{
    width: 50%;
}
#contactUs{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#contactUs fieldset{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    margin: 5px;
    border: 3px solid var(--gunmetal);
    border-radius: 20px;
    
}

#contactUs input{
    display: block;
}
#contactUs textarea{
    padding: 15px;
    width:93%;
    margin: 5px auto;
    border-radius: 20px;
    border: 3px solid var(--gunmetal);
}

#contactMine{
    justify-items: center;
    align-content: center;
    /* border-left: 1px solid var(--gunmetal); */
}